version: '2'
services:

  mysql:
    container_name: bookstack-mysql
    restart: unless-stopped
    image: mysql:5.7.12
    environment:
    - MYSQL_ROOT_PASSWORD={{ bookstack_mysql_root }}
    - MYSQL_DATABASE={{ bookstack_mysql_db }}
    - MYSQL_USER={{ bookstack_mysql_user }}
    - MYSQL_PASSWORD={{ bookstack_mysql_password }}
    volumes:
    - {{ bookstack_mysql_vol }}:/var/lib/mysql

  bookstack:
    container_name: bookstack
    restart: unless-stopped
    image: {{ bookstack_image }}
    depends_on:
    - mysql
    environment:
    - APP_ENV=production
    - APP_DEBUG=false
    - APP_URL={{ bookstack_url }}
    #- WKHTMLTOPDF=
    - DB_HOST=mysql
    - DB_DATABASE={{ bookstack_mysql_db }}
    - DB_USERNAME={{ bookstack_mysql_user }}
    - DB_PASSWORD={{ bookstack_mysql_password }}
{% if bookstack_ldap is true %}    
    # General auth
    - AUTH_METHOD=ldap
    # LDAP Settings
    - LDAP_SERVER={{ ldap_server}}
    - LDAP_BASE_DN={{ldap_base_dn}}
    - LDAP_DN={{ ldap_dn }}
    - LDAP_PASS={{ ldap_password }}
    #use double $$ since we are using docker
    - LDAP_USER_FILTER=(&({{bookstack_ldap_filter}}=$${user}))
    - LDAP_VERSION=3
{% endif %}    
    volumes:
    - {{ bookstack_vol_public }}:/var/www/BookStack/public/uploads
    - {{ bookstack_vol_storage }}:/var/www/BookStack/storage/uploads
    ports:
    - "8080"
    expose:
    - "8080"
    
volumes:
  {{ bookstack_mysql_vol }}:
  {{ bookstack_vol_public }}:
  {{ bookstack_vol_storage }}: 